* {
    margin: 0;
    padding: 0;
}

/* header */

.head img {
    display: block;
    margin: 0 auto;
}

/* search-section */

.search-container {
    background-color: #eee;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.search-container input[type="text"] {
    display: block;
    margin: 0 auto;
    width: 25%;
}

/* footer */

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.footer-container>*:first-child {
    background-color: #7EE5DA;

}

.footer-container>*:first-child a {
    display: block;

}

.footer-container div:nth-child(even) {
    background-color: #70CCC2;
    font-size: .8rem;
}

.footer-container div:nth-child(even) a {
    display: block;
}

.footer-container>*:last-child {
    background-color: #62B3AA;
}

.footer-container>*:last-child input[type="text"] {
    display: block;
    margin: 0 auto;
}

.copyright-text {
    text-align: center;
}